<center>
<p><b>How to play:</b></p>
<p>Click on a space to place your piece there</p>
  <table>
    <tbody>
      <% @game_state.show_board.each_with_index do |row, row_index| %>
      <tr>
        <% row.each_with_index do |place, column_index| %>
        <td><% if place.nil? %>
        <%= link_to(image_tag("Untitled.png"), match_place_piece_path(@match, {row: row_index, column: column_index}))%>
          <% elsif place == "x" %>
          <%= "X" %>
          <% elsif place == "o" %>
          <%= "O" %>
          <% end %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </center>